extends layout 

block head 
    link  link(rel="stylesheet", href="/style.css")

block content 
    h2 Gallery 
    .gallery 
        each idx in Array.from(Array(25).keys())
            img.gallery-img(scr='https://source.unsplash.com/random/${idx}', alt="")