mixin navigation 
    nav 
        a(href="/")
            b Home
        
        a(href="/cities") Reports
        a(href="/login") Login in
        a(href="/signup") Sign up
        a(href="/contactus") Contact Us
