.gallery {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%; */
    columns: 2;
    column-gap: 2rem;
  }
  
  .gallery-img {
    width: 50%;
    padding-bottom: 2rem;
  }